<style>
        body {
            font-family: Comic Sans MS, Comic Sans;
            font-style: normal;
            font-weight: 600;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #008B8B ;
            color:#FF8C00;
            padding: 2px;
            text-align: center;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline;
            margin-right: 15px;
        }

        section {
            margin: 20px;
        }

        footer {
            font-family: Impact, sans-serif;
            background-color: #008B8B;
            color: #FF8C00;
            text-align: center;
            padding: 0px;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
        }

        /* Responsive styles */
        @media (max-width: 768px) {
            header {
                padding: 5px;
            }

            nav ul {
                text-align: center;
                margin-top: 10px;
            }

            nav li {
                display: block;
                margin-bottom: 10px;
            }
        }
    </style>